.coachPage {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(./images/CoachPageImage.png);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #e0e0e0;
  }