
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.login {
  background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
  url(./images/LoginRunningImage.png);
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-size: cover;
  min-height: 100vh;
}
.heading1 {
  text-align: center;
  color: black;
  font-size: 4rem;
}

.heading2 {
  text-align: center;
  color: black;
  font-size: 2rem;
}

.container {
  width: 400px;
  margin: 100px auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


  